

	html, body {
		width: 100%;
		height: 100%;
		display: block;
		overflow: hidden;
	}

	#mainPage {
		width: 100vw;
		height: 100%;
		display: block;

		overflow: hidden;
	}

	#mainPageBackground {
		width: 100%;
		height: 100%;

		background: url("MainPage.png") no-repeat 100% 100%;
		background-size: cover;
		background-origin: border-box;
		background-position: 50% 50%;
	}

	#menuPanel {
		--Hbutton: calc((100% - var(--BetweenButtons) * 2) / 3);
		--BetweenButtons: 20px;
		--Allheight: calc(var(--Hbutton) * 1.5 + var(--BetweenButtons) * 2);
		--Wborder: 10px;
		--menuPanelWidth: 500px;
		--menuPanelHeight: 1000px;
		--top: calc((100% - var(--Allheight)) / 2 + var(--Wborder));

		position: absolute;
		width: 500px;
		height: 1000px;
		top: 50%;
		left: 50%;
		transform: translate(-50%, -50%);
		display: block;
		background-color: white;
		border-radius: 50px;
		border: var(--Wborder) solid black;

		max-height: 90%;
		max-width: 25%;

	}

	#infoPanel {
		display: none;
		background-color: white;
		width: calc(100% + var(--Wborder) * 2);
		height: calc(100% + var(--Wborder) * 2);
		position: absolute;
		left: calc(var(--Wborder) * -1);
		top: calc(var(--Wborder) * -1);
/*		padding-top: 10px;
		padding-bottom: 10px;*/
		border-radius: 50px;
		border: var(--Wborder) solid black;
		box-sizing: border-box;
	}

	#infoPanel #infoPanelText {
		width: 100%;
		height: 100%;
		overflow-y: auto;
		background-clip: content-box;
		padding-right: 16px;
		padding-bottom: 0px;

		scrollbar-color:  green rgba(0, 0, 0, 0);     /* «цвет ползунка» «цвет полосы скроллбара» */
	    scrollbar-width: auto;  /* толщина */

	    word-break: break-all;
	    overflow-x: hidden;
	}

	#infoPanelText::-webkit-scrollbar-button {
		background-image:url('');
		background-repeat:no-repeat;
		width:5px;
		height:0px;
	}

	#infoPanelText::-webkit-scrollbar-track {
		background-color:#ecedee;
		height: 90px;
	}

	#infoPanelText::-webkit-scrollbar-thumb {
		-webkit-border-radius: 0px;
		border-radius: 0px;
		background-color:#6dc0c8;
		height: 90px;
	}

	#infoPanelText::-webkit-scrollbar-thumb:hover{
		background-color:#56999f;
	}

	#infoPanelText::-webkit-resizer{
		background-image:url('');
		background-repeat:no-repeat;
		width:4px;
		height:0px;
	}

	#infoPanelText::-webkit-scrollbar{
		width: 16px;
		height: 90px;
	}

	#infoPanel #infoPanelText span {
		width: 100%;
		height: 100%;
		font-size: 40px;
		color: black;
/*		word-break: break-all;*/
		padding-left: 10px;
		padding-right: 10px;
		margin-top: 0px;
		display: block;
	}

	#infoPanelCloseButton {
		width: 30px;
		height: 30px;
		border: none;
		float: right;
		margin-top: 20px;
		margin-bottom: 0px;
		margin-left: 0px;
	}


	#settingsPanel {
		display: none;
		width: 100%;
		height: 100%;
		position: absolute;
		top: 0%; left: 0%;
		background-color: white;
		border-radius: 50px;
		border: 10px solid black;

		width: 500px;
		height: 1000px;

		max-width: 25%;
		max-height: 90%;

		--Wborder: 10px;
		--BetweenSliderPause: 40px;
		--WborderLanguageMute: 20px;
		--BetweenLanguageMute: 40px;
		--BetweenButtonsSlider: 80px;
		--SliderH: 40px;
		--ButtonW: calc((100% - (var(--WborderLanguageMute) * 2 + var(--BetweenLanguageMute))) / 2);
		--AllH: calc(var(--ButtonW) + var(--BetweenButtonsSlider) + var(--SliderH));
		--Top: calc((100% - var(--AllH)) / 2 + 0.25 * var(--AllH));
	}

	#darkBackground {
		display: none;
		position: absolute;
		width: 100%;
		height: 100%;
		background: rgba(0, 0, 0, 0.5);
		left: 50%; top: 50%;
		transform: translate(-50%, -50%);
		z-index: 1;
	}

	#closeSettings {
		width: 30px;
		height: 30px;
		position: absolute;
		border: none;
		top: 20px; right: 20px;
	}

	#languageButton {
		box-sizing: border-box;
		width: var(--ButtonW);
		padding-bottom: var(--ButtonW);
		position: absolute;
		border: none;
		top: var(--Top); left: var(--WborderLanguageMute);
		
		background: url("english.png") no-repeat;
		background-origin: border-box;
		background-size: contain;
	}

	#muteButton {
		width: var(--ButtonW);
		padding-bottom: var(--ButtonW);
		position: absolute;
		top: var(--Top); right: var(--WborderLanguageMute);

		background: url("soundButton.png") no-repeat;
		background-origin: border-box;
		background-size: contain;
		background-position: 50% 50%;
	}

	#muteSlider {
		position: absolute;
		width: calc((100% - var(--WborderLanguageMute) * 2));
		height: var(--SliderH);
		border-radius: 50px;
		left: var(--WborderLanguageMute);
		bottom: var(--Top);
		background-color: black;
		transition: 1s;
	}

	#muteSlider::-moz-range-progress {
	  background-color: #43e5f7;
	  height: 20px;
	  border-radius: 20px;
	}
	
	#muteSlider::-moz-range-track {  
	  height: 20px;
	}


	#playButton {
		display: block;
		position: absolute;
		width: var(--Hbutton);
		padding-bottom: var(--Hbutton);
		border: none;
		left: calc((100% - var(--Hbutton)) / 2);
		top: var(--top);
		border-radius: 20px;

		background: url("play.png") no-repeat;
		background-size: contain;
		background-position: 50% 50%;
		background-origin: border-box;

		transition: background-color 1s;

		--elementW: width;
		font-weight: 800;
		font-family: "arial";
		color: white;
	}

	#playButton div {
		height: 100%;
		font-size: 80px;
		font-weight: 800;
		font-family: "arial";
		color: black;
		vertical-align: center;
	}

	#infoButton {
		position: absolute;
	    width: var(--Hbutton);
	    padding-bottom: var(--Hbutton);
	    border-radius: 50px;
	    left: calc((100% - var(--Hbutton)) / 2);
	    top: calc(var(--top) + var(--Hbutton) * 0.5 + var(--BetweenButtons));
	    transition: background-color 1s;
	    background-color: rgb(0,150, 200);
	}

	#infoButtonContent {
		position: absolute;
		color: white;
		font-size: 50px;
		font-weight: 800;
		left: 50%;
		top: 50%;
		transform: translate(-50%, -50%);
		text-align: center;
		/*font-size: 6rem;*/
		width: 100%;
		height: 100%;
	}

	#settingsButton {
	    position: absolute;
	    width: var(--Hbutton);
	    padding-bottom: var(--Hbutton);
	    border-radius: 50px;
	    left: calc((100% - var(--Hbutton)) / 2);
	    top: calc(var(--top) + var(--Hbutton) + var(--BetweenButtons) * 2);
	    z-index: 0;

	    background: url("settingsButton.png");
	    background-size: cover;
	    transition: background-color 1s;
	}



	/* 							HOVER			*/



	#infoButton:active {
		transform:scale(1.3,1.3);
	    -webkit-transform:scale(1.3,1.3);
	    -moz-transform:scale(1.3,1.3);
	}

	#settingsButton:active {
		transform:scale(1.3,1.3);
	    -webkit-transform:scale(1.3,1.3);
	    -moz-transform:scale(1.3,1.3);
	}

	#playButton:active {
		transform:scale(1.2,1.2);
	    -webkit-transform:scale(1.2,1.2);
	    -moz-transform:scale(1.2,1.2);
	}
	#infoButton span {
		transition: 0.5s;
		border-radius: 20px;
	}

	#infoButton span:hover {
		background-color: black;
		color: white;
	}

	#settingsButton:hover {
		background-color: gray;
	}

	#playButton:hover {
		background-color: gray;
	}






	/*				GAME DIV				*/


	#gameDivBackground {
		width: 99%;
		height: 99%;
		display: none;
		background: url("GameBackground.jpg") no-repeat;
		background-size: cover;
		position: absolute;
		z-index: 0;

		--gameDivUpH: 100px;
		--borderW: 10px;
		--betweenCanvasUp: 20px;
	}

	#gameDiv {
		position: absolute;
		top: 50%; left: 50%;
		transform: translate(-50%, -50%);
		height: 100%;
		z-index: 2;
	}

	#pausePanel {
		display: none;
		width: 400px;
		height: calc(var(--PausePanelUpH) + var(--H) + var(--between));
		background: none;
		position: absolute;
		top: 50%; left: 50%;
		transform: translate(-50%, -50%);
		z-index: 100;

		--H: 50px;
		--between: 20px;
		--PausePanelUpH: calc(var(--H) * 5);
	}

	#pausePanelUp {
		position: absolute;
		width: 100%;
		height: var(--PausePanelUpH);
		top: 0%;
		background: url("waterfall.png") no-repeat;
		background-position: 50% 50%;
		background-size: contain;

		--AppleH: 100px;
		--SpanH: 30px;
	}

	#pausePanelUp #yourScore {
		position: absolute;
		top: 50%; left: 20px; transform: translate(0, -50%);
		width: var(--AppleH);
	}

	#pausePanelUp #yourScore img{
		width: var(--AppleH);
		padding-bottom: var(--AppleH);
		background: url("apple.png") no-repeat;
		background-size: cover;
	}

	#pausePanelUp #yourScore span {
		position: absolute; top: calc(var(--AppleH));
		color: white; font-size: 40px; font-weight: 800;
		height: var(--SpanH);
		left: 50%; transform: translate(-50%, 0);
	}

	#pausePanelUp #bestScore {
		position: absolute;
		top: 50%; right: 20px; transform: translate(0, -50%);
		width: var(--AppleH);
	}

	#pausePanelUp #bestScore img{
		width: var(--AppleH);
		padding-bottom: var(--AppleH);
		background: url("trophy.png") no-repeat;
		background-size: cover;
	}

	#pausePanelUp #bestScore span {
		position: absolute; top: calc(var(--AppleH));
		color: white; font-size: 40px; font-weight: 800;
		height: var(--SpanH);
		left: 50%; transform: translate(-50%, 0);
	}

	#pausePanelDown {
		position: absolute;
		width: 100%;
		height: var(--H);
		bottom: 0%;
	}

	#pausePanelDown #pauseSettings {
		border: none;
		position: absolute;
		width: var(--H);
		padding-bottom: var(--H);
		right: 10%;
		background: url("settingsButton.png");
		background-size: cover;
		transition: 1s;
	}

	#pauseSettings:hover {
		background-color: gray;
	}

	#pausePanelDown #continueGame {
		border: none;
		border-radius: 20px;
		position: absolute;
		width:calc(80% - var(--between) - var(--H));
		height: var(--H);
		left: 10%;
		background-color: #78DBE2;
		font-size: 40px;
		font-weight: 800;
		color: white;
		display: inline;
		vertical-align: middle;
		text-align: center;
	}

	#gameDivUp {
		padding: none;
		background-color: #90ee90;
		position: absolute;
		height: var(--gameDivUpH);
		left: 50%; top: 20px;
		transform: translate(-50%, 0);
		border: var(--borderW) solid white;
		border-radius: 50px;

		--padding: 20px;
		--k: 0.3;
	}

	#gameDivUp #score {
		position: absolute;
		right: var(--padding); top: 50%; transform: translate(0, -50%);
		color: white;
		font-weight: 1000;
		font-size: 60px;
	}

	#gameDivUp #pauseButton {
		position: absolute;
		left: var(--padding); top: 50%; transform: translate(0, -50%);
		width: calc(var(--gameDivUpH) * var(--k)); padding-bottom: calc(var(--gameDivUpH) * var(--k));
		border-radius: 50%;
		background: url("pause.png");
		background-size: contain;
		/*background-color: white;*/
	}

	#pauseButton:hover {
		background-color: gray;
	}

	#gameDivUp #backToMenu {
		position: absolute;
		border: none;
		left: calc(var(--gameDivUpH) * var(--k) + var(--padding) * 2); top: 50%; transform: translate(0, -50%);
		padding-bottom: calc(var(--gameDivUpH) * var(--k));
		width: calc(var(--gameDivUpH) * var(--k));
		background: url("40.png") no-repeat;
		background-size: contain;
	}

	#backToMenu:hover {
		background-color: gray;
	}

	#canvas {
		position: absolute;
		top: calc(20px + var(--gameDivUpH) + var(--betweenCanvasUp) + var(--borderW) * 2); left: 50%;
		height: calc(100% - (var(--gameDivUpH) + var(--betweenCanvasUp) * 3 + var(--borderW) * 4));
		transform: translate(-50%, 0);

		border: var(--borderW) solid white;
		border-radius: 50px
	}

	#gameSettingsPanel {
		display: none;
		position: absolute;
		top: calc(50% + 20px); left: 50%; transform: translate(-50%, -50%);
		background-color: white;
		border-radius: 50px;
		border: 20px solid black;

		width: 500px;
		height: 540px;

		--SlidersCount: 4;
		--SliderButtonW: 40px;
		--SliderPadding: 10px;
		--BetweenSliders: 20px;
		--CloseButtonW: 30px;
		--CloseButtonPadding: 20px;
		--SliderH: calc(1 / var(--SlidersCount) * (100% - var(--CloseButtonW) - var(--CloseButtonPadding) * 3 - (var(--SlidersCount) - 1) * var(--BetweenSliders)));
	}

	#closeGameSettings {
		width: 30px;
		height: 30px;
		position: absolute;
		border: none;
		top: 20px; right: 20px;
	}

	#closeGameSettings:hover {
		background-color: gray;
	}

	/*						mode slider					*/

	#settingsButtonGame {
		position: absolute;
		right: calc(var(--SliderPadding) * 2);
		top: calc(var(--CloseButtonW) + var(--CloseButtonPadding) * 2);
		height: var(--SliderH); padding-left: var(--SliderH);
		background: url("settingsButton.png") no-repeat;
		background-size: contain;
		background-origin: border-box;
		background-position: 50% 50%;
		border: none;
		border-radius: 20px;
		box-sizing: content-box;
	}

	#settingsButtonGame:hover {
		background-color: gray;
	}

	#selectMode {
		position: absolute;
		width: calc(100% - var(--SliderH) - var(--SliderPadding) * 4);
		height: var(--SliderH); top: calc(var(--CloseButtonW) + var(--CloseButtonPadding) * 2);
		background-color: none;
	}

	#selectMode button {
		border: none;
		border-radius: 10px;
		width: var(--SliderButtonW); padding-bottom: var(--SliderButtonW);
		position: absolute;
		top: 50%;
		transform: translate(0, -50%);
	}

	#selectMode #slideLeft {
		left: var(--SliderPadding);
		background: url("leftArrow.png") no-repeat;
		background-size: contain;
		background-origin: border-box;
		background-position: 50% 50%;
	}

	#selectMode #slideRight {
		right: var(--SliderPadding);
		background: url("rightArrow.png") no-repeat;
		background-size: contain;
		background-origin: border-box;
		background-position: 50% 50%;
	}

	#selectMode #gameMode {
		position: absolute;
		width: calc(100% - 20px * 2 - 40px * 2);
		height: 100%;
		background-color: green;
		left: calc(20px + 40px);
		display: table-cell;
		border-radius: 20px;
	}

	#gameMode span {
		position: absolute;
		top: 50%; left: 50%; transform: translate(-50%, -50%);
		color: white; font-size: 40px; font-weight: 600;
		font-family: "arial";
		width: 100%;
		text-align: center;
	}

	/*				color slider			*/

	#colorModeDiv {
		position: absolute;
		width: 100%;
		height: var(--SliderH); top: calc(var(--CloseButtonW) + 
			var(--CloseButtonPadding) * 2 + var(--BetweenSliders) + var(--SliderH));
		background: none;
	}

	#colorModeDiv button {
		border: none;
		border-radius: 10px;
		padding-bottom: var(--SliderButtonW); width: var(--SliderButtonW);
		background-color: blue;
		position: absolute;
		top: 50%;
		transform: translate(0, -50%);
	}

	#colorModeDiv #slideLeftColor {
		left: var(--SliderPadding);
		background: url("leftArrow.png") no-repeat;
		background-size: contain;
		background-origin: border-box;
		background-position: 50% 50%;
	}

	#colorModeDiv #slideRightColor {
		right: var(--SliderPadding);
		background: url("rightArrow.png") no-repeat;
		background-size: contain;
		background-origin: border-box;
		background-position: 50% 50%;
	}

	#colorModeDiv #colorMode {
		position: absolute;
		width: calc(100% - var(--SliderPadding) * 4 - var(--SliderButtonW) * 2);
		height: 100%;
		border: none;
		border-radius: 20px;
		background-color: green;
		left: calc(var(--SliderPadding) * 2 + var(--SliderButtonW));
	}

	#colorModeSpan {
		color: white; font-size: 40px; font-weight: 600; font-family: "arial";
		position: absolute;
		top: 50%; left: 50%; transform: translate(-50%, -50%);
		width: 100%;
		text-align: center;
	}

	/*			game size slider			*/


	#gameSizeDiv {
		position: absolute;
		width: 100%;
		height: var(--SliderH); top: calc(var(--CloseButtonW) + 
			var(--CloseButtonPadding) * 2 + var(--BetweenSliders) * 2 + var(--SliderH) * 2);
		background: none;
	}

	#gameSizeDiv button {
		border: none;
		border-radius: 10px;
		padding-bottom: var(--SliderButtonW); width: var(--SliderButtonW);
		background-color: blue;
		position: absolute;
		top: 50%;
		transform: translate(0, -50%);
	}

	#gameSizeDiv #slideLeftSize {
		left: var(--SliderPadding);
		background: url("leftArrow.png") no-repeat;
		background-size: contain;
		background-origin: border-box;
		background-position: 50% 50%;
	}

	#gameSizeDiv #slideRightSize {
		right: var(--SliderPadding);
		background: url("rightArrow.png") no-repeat;
		background-size: contain;
		background-origin: border-box;
		background-position: 50% 50%;
	}

	#gameSizeDiv #gameSize {
		position: absolute;
		width: calc(100% - var(--SliderPadding) * 4 - var(--SliderButtonW) * 2);
		height: 100%;
		border: none;
		border-radius: 20px;
		background-color: green;
		left: calc(var(--SliderPadding) * 2 + var(--SliderButtonW));
	}

	#gameSizeSpan {
		color: white; font-size: 40px; font-weight: 600; font-family: "arial";
		position: absolute;
		top: 50%; left: 50%; transform: translate(-50%, -50%);
		width: 100%;
		text-align: center;
	}


	/*			food sliders				*/

	#foodModeDiv {
		position: absolute;
		width: 100%;
		height: var(--SliderH); top: calc(var(--CloseButtonW) + 
			var(--CloseButtonPadding) * 2 + var(--BetweenSliders) * 3 + var(--SliderH) * 3);
		background: none;
	}

	#foodModeDiv button {
		border: none;
		border-radius: 10px;
		padding-bottom: var(--SliderButtonW); width: var(--SliderButtonW);
		height: var(--SliderButtonW);
		background-color: blue;
		position: absolute;
		top: 50%;
		transform: translate(0, -50%);
	}

	#foodModeDiv #slideLeftFood {
		left: var(--SliderPadding);
		background: url("leftArrow.png") no-repeat;
		background-size: contain;
		background-origin: border-box;
		background-position: 50% 50%;
	}

	#foodModeDiv #slideRightFood {
		right: var(--SliderPadding);
		background: url("rightArrow.png") no-repeat;
		background-size: contain;
		background-origin: border-box;
		background-position: 50% 50%;
	}

	#foodModeDiv #foodMode {
		position: absolute;
		width: calc(100% - var(--SliderPadding) * 4 - var(--SliderButtonW) * 2);
		height: 100%;
		background: url("apple.png") no-repeat;
		background-size: contain;
		background-origin: content-box;
		background-position: 50% 50%;
		left: calc(var(--SliderPadding) * 2 + var(--SliderButtonW));
	}

	#youWinPanel {
		transition: 2s;
		display: none;
		position: absolute;
		top: 50%; left: 50%; transform: translate(-50%, -50%);
		width: 100%; height: 100%;
		background: rgba(0, 0, 0, 0.5);
		z-index: 200;
	}

	#youWinSpan {
		color: white; font-size: 100px; font-weight: 800; font-family: "arial";
		text-align: center;
		width: 100%;
		position: absolute;
		top: 50%; left: 50%; transform: translate(-50%, -50%);
	}

	#youLosePanel {
		transition: 2s;
		display: none;
		position: absolute;
		top: 50%; left: 50%; transform: translate(-50%, -50%);
		width: 100%; height: 100%;
		background: rgba(0, 0, 0, 0.5);
		z-index: 200;
	}

	#youLoseSpan {
		color: white; font-size: 100px; font-weight: 800; font-family: "arial";
		text-align: center;
		width: 100%;
		position: absolute;
		top: 50%; left: 50%; transform: translate(-50%, -50%);
	}
